extends layout

block content
  h1= title
  p.tl Here is #{title}
  .pt-4.w-50
    ul.pl-0
      each favFood in foods
        li.list-unstyled
          .card 
            .card-block
              img(src=`/images/${favFood.img}`, alt=`${favFood.img}`).w-100
              p.font-weight-bold.h2.text-center.txt-blck= favFood.foodItem